@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    margin-top: 36px;
    text-align: left;
    margin-left: 231px;
}

.logo {
    margin-right: 140px;
}

header a {
    margin: 30px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: auto;
}

main {
    margin: auto 230px;
}

.chef {
    background-color: #FBDFDB;
    border-radius: 30px;
    margin: 2%;
    padding: 117px 60px;
    position: relative;
}

.chef img {
    position: absolute;
    bottom: 0%;
    right: 5%;
}

footer {
    background-color: #EEEEEE;
    text-align: center;
    padding: 1%;
}

footer p {
    font-size: 14px;
    color: #999999;
}