{% extends "layout.njk" %}

{% block head %}
    <title>Home - Foodfy</title>
{% endblock %}

{% block main %}
    <main>
        <div class="chef">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos</p>
            <p>com receitas criadas por profissionais</p>
            <p>do mundo inteiro.</p>
            <img src="../assets/chef.png" alt="Imagem de um chef">
        </div>
        <h2>Mais acessadas</h2>
        <section class="recipes">
        {% for item in items %}
            <div class="recipe">
                <img src="{{item.image}}" alt="Imagem do prato {{item.title}}">
                <h3>{{item.title}}</h3>
                <p>por {{item.author}}</p>
            </div>
        {% endfor %}
        </section>
    </main>
{% endblock %}
