@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    margin: 0 auto;
    margin-top: 36px;
    width: 940px;
}

header .logo {
    margin-right: 10%;
    display: inline-block;
}

header a {
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    margin-right: 30px;
}

header .links-menu-text {
    display: inline-block;
    position: absolute;
    top: 40px;
}

main {
    margin: 30px auto 50px;
    width: 940px;
}

.chef {
    background-color: #FBDFDB;
    border-radius: 30px;
    padding: 117px 60px;
    position: relative;
}

.chef h1 {
    margin-bottom: 10px;
}

.chef p {
    font-size: 18px;
    opacity: 0.7;
    line-height: 28px;
}

.chef img {
    position: absolute;
    bottom: 0%;
    right: 100px;
}

h2 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe img {
    width: 100%;
    border-radius: 15px 15px;
    margin-bottom: 10px;
}

.recipe h3 {
    margin-bottom: 5px;
}

.recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
}

footer {
    background-color: #EEEEEE;
    text-align: center;
    padding: 1%;
}

footer p {
    font-size: 14px;
    color: #999999;
}

/*=======ABOUT=========*/

.about-content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}

.about-content h3 {
    font-size: 20px;
    color: #111111;
    margin-bottom: 20px;
}