.recipe img {
    width: 100%;
    border-radius: 15px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.recipe h3 {
    margin-bottom: 5px;
    cursor: pointer;
}

.recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
    cursor: pointer;
}

/*========MODAL=========*/

.modal-overlay {
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    border-radius: 15px;
    width: 660px;
    height: 413px;
    margin: 15% auto;
    position: relative;
}

.modal-content img {
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 30px 30px 20px 30px;
}

.modal-content h3 {
    text-align: center;
    font-size: 24px;
    color: #111111;
}

.modal-content p {
    font-size: 18px;
    color: #777777;
    text-align: center;
    margin-top: 5px;
}

.modal .modal-content .close-modal {
    font-size: 16px;
    color: #999999;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 40px;
    cursor: pointer;
}

/* ===== MODAL ACTIVE ===== */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}