.recipe img {
    width: 100%;
    border-radius: 15px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.recipe h3 {
    margin-bottom: 5px;
    cursor: pointer;
}

.recipe p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 30px;
    cursor: pointer;
}

/*========RECIPE DETAIL=========*/
.recipe-detail img {
    border-radius: 15px 15px;
}

.recipe-detail h3 {
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.recipe-detail p {
    text-align: center;
    margin-top: 4px;
    color: #777777;
}